{% extends './authorization-layout.twig' %}
{% block appTitle %}
  Password
{% endblock %}

{% block headerMessage %}
  Provide password to login for {App Name}
{% endblock %}
{% block authorizationContent %}
  <div class="password-form">
    {% include '../partials/validationErrors.twig' %}
    <form action="{{ url('oauth/authorization/login') }}" method="POST">
      <input type="hidden" name="token" value="{{ session('passwordContent').token }}">
      <input type="hidden" name="email" value="{{ session('passwordContent').email }}">
      <div class="form-group">
        <label for="email" class="form-label w-100">Email
          <a href="{{ url('oauth/authorization/restart-login') }}"
             class="link-primary link-underline-opacity-0 link-underline-opacity-100-hover float-end">Edit</a>
        </label>
        <input id="email" type="email" disabled readonly class="form-control"
               value="{{ session('passwordContent').email }}">
      </div>
      <div class="form-group mt-2">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" autocomplete="on" class="form-control">
      </div>
      <div class="form-group mt-4">
        <button class="btn btn-primary w-100 btn-lg">Log In</button>
        <a href="#" class="link-underline mt-2 d-block">Forgot password</a>
      </div>
    </form>
  </div>
{% endblock %}
